<h1>Whoops! How did you get here?</h1>
<img src="http://2.bp.blogspot.com/-vzgXgxkC3rw/UxokeRNYj1I/AAAAAAAACK0/SUFqTffmWEQ/s1600/wizard-behind-curtain1.jpg" alt="Pay no attention to the man behind the curtain" style="width:304px;height:228px">
<li><%= link_to "Let's go back home", root_url %></li>