<% title 'Order Payment - ForeverCard' %>
<% style 'register' %>

<nav class="navbar navbar-inverse" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="/" class="navbar-brand">ForeverCard</a>
    </div>

  </div>
</nav>

<div class="row header widthcap">
  <div class="col-xs-12">
    <div class="col-xs-12">
      <h1>Order ForeverCards Step 3/3: Confirmation and Payment</h1>
    </div>
  </div>
</div>

<%= form_tag charges_path do %>
  <article>
    <label class="amount">
      <span>Amount: $5.00</span>
    </label>
  </article>

  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-description="One time payment"
          data-amount="500"></script>
<% end %>

<p>
    
</p>


<div class="text-primary">
    <div class = "col">
        <div class = "centered">
            <%= image_tag("http://i57.tinypic.com/2namw5h.png")%>    This payment is secure. Learn more <%=link_to 'here', 'https://stripe.com/help/security', :target => "_blank" %>
        </div>
    </div>
</div>