nav {
	position: absolute !important;
	width: 100%;
	background: none;
	color: #fff;
}

.navbar-brand {
	color: inherit;
}

.row {
	margin: 0;
}

#header {
	padding: 56px 0 48px 0;
	background: url('http://i59.tinypic.com/2ibnacx.jpg');
	-webkit-background-size: cover;
	background-size: cover;
}

.form-control {
	opacity: 0.875;
}

.form-control:focus {
	opacity: 1;
}

#big-title {
	font-size: 56px;
	font-weight: 300;
}

#signup {
	background: rgba(0,0,0,0.375);
}

@media (max-width: 768px) {
	#header {
		padding-top: 256px;
	}
}

.checkbox {
    margin-top: -10px;
    margin-bottom: 10px;
span {
    margin-left: 20px;
    font-weight: normal;
}
}

#session_remember_me {
    width: auto;
    margin-left: 0;
}