@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,600,700);

hr {
	height: 2px;
	opacity: 0.5; 
}

.row.accent {
	background: #3498db;
	color: #fff;

	text-shadow: 0 1px 1px #000,
	             -1px 1px 1px rgba(0,0,0,0.25),
	             1px 1px 1px rgba(0,0,0,0.25);
}

.navbar {
	margin-bottom: 0;
}

.navbar-text {
	margin-top: 7px;
	margin-bottom: 7px;
}

.widthcap {
	max-width: 800px;
	width: 100%;
	margin: 24px auto;
}

.padded {
	padding: 24px 0;
}

.footer {
	background: #f4f4f4;
	color: #888;
	margin: 0;
	padding: 8px 0;
}